body{
    background-color: black;
}
header{
    background-image: url(képek/fejlec.jpg);
    background-size: cover;
    height: 400px;
    color: white;
    display:flex;
    
}
h1{
    margin-top: 20px;
    margin-left: 5%;
    float: left;
    width: 60%;
    
    
}
#menu{
   
    margin-top: 20px;
   float: right;
   margin-left: 10%;
   
   
   
}
#hamb{
    width: 50px;
    height: 50px;
    
    visibility: hidden;
    float: right;
    margin-right: 5%;
    background-image: url(képek/clipart365828.png);
    background-size: cover;
    background-color: transparent;
    border-color: transparent;
    
}
a{
    color: white;
    text-decoration: none;
    
    
    
}
.text{
    margin-left: 20%;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}
#text2{
    float: right;
    color: white;
    margin-right: 30%;
    margin-top: 25px;
}
#tortenet{
    background-color: rgb(34, 34, 34);
    height: 200px;
    color: white;
    
}
#szeless{
    width: 25%;
    float: left;
    margin-left: 15%;
    margin-top: 40px;
}
h3{
    text-align: right;
    
}
@media only screen and (max-width: 970px){
    #menu{
        visibility: hidden;
        
    }
    #hamb{
        
        visibility:visible;
        
    }
}
    
