header{
    background-image: url(képek/fejlec.jpg);
    background-size: cover;
    height: 300px;
    color: white;
    display:flex
    
}
h1{
    
    
}
#menu{
   
   
   
}
a{
    color: white;
    text-decoration: none;
    
    
    
}